*, *::after, *::before {
  box-sizing: border-box;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

a {
  color: $link-color;

  &:hover,
  &:focus,
  &:active {
    color: darken($link-color, 10%);
  }
}
